<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="row justify-content-md-center">
  <div class="col-12">
    <h5 class="text-center">
      <!-- <a [routerLink]="['/user/all-users']">Total Users</a> -
      {{ users.length }} |
      <a [routerLink]="['/user/all-tasks']">Total Tasks</a> -
      {{ all_tasks.length }} | Total Completed Tasks -
      {{ all_completed_tasks.length }} | Total Pending Tasks -
      {{ all_pending_tasks.length }} | Total Overdue Tasks -
      {{ all_overdue_tasks.length }} -->

      Total Users - 0 | Total Tasks - 0 | Total Completed Tasks - 0 | Total
      Pending Tasks - 0 | Total Overdue Tasks - 0
    </h5>
  </div>
  <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <h4 class="text-center text-primary mb-3">Your Notifications</h4>
    <div
      class="p-2 bg-grey mb-1"
      *ngFor="
        let n of notifications | paginate: { itemsPerPage: 10, currentPage: np }
      "
    >
      <h6>
        {{ n.title }}
        <i
          class="fa fa-check text-success"
          *ngIf="n.title === 'Task completed'"
        ></i>
        <i
          class="fa fa-calendar-check text-primary"
          *ngIf="n.title === 'New Task'"
        ></i>
      </h6>
      <span>{{ n.message }}</span> <br />
      <span><a [routerLink]="['/user/task', n.link]">View task</a></span>
    </div>
    <div
      class="p-2 bg-grey mb-2 text-center"
      *ngIf="notifications.length === 0"
    >
      <b>
        You have no notifications at the moment.
      </b>
    </div>
    <pagination-controls
      (pageChange)="np = $event"
      autoHide="true"
      responsive="true"
      *ngIf="notifications.length > 0"
    ></pagination-controls>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <h4 class="text-center text-primary mb-3">Overdue Tasks</h4>
    <div
      class="alert alert-danger mb-1"
      role="alert"
      *ngFor="
        let ot of overdue_tasks
          | paginate: { itemsPerPage: 10, currentPage: op }
      "
    >
      <h6>{{ ot.task }}</h6>
      <p>{{ ot.description }}</p>
      <b>{{ ot.assigned_by }} assigned this task - {{ date(ot.start_date) }}</b>
      <br />
      <span><a [routerLink]="['/user/task', ot.uid]">View this task</a></span>
    </div>

    <div
      class="p-2 bg-grey mb-2 text-center"
      *ngIf="overdue_tasks.length === 0"
    >
      <b>
        You have no overdue task at the moment.
      </b>
    </div>

    <pagination-controls
      (pageChange)="op = $event"
      autoHide="true"
      responsive="true"
      *ngIf="overdue_tasks.length > 0"
    ></pagination-controls>
  </div> -->
</div>
