<h4 class="text-center text-primary">Assign Task To User</h4>
<div class="row justify-content-md-center">
  <div class="col-8">
    <form [formGroup]="taskForm" (ngSubmit)="add_task()">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <input
              type="text"
              formControlName="task"
              class="form-control"
              placeholder="Give the task a name"
            />
            <div
              *ngIf="
                taskForm.get('task').invalid &&
                (taskForm.get('task').dirty || taskForm.get('task').touched)
              "
              class="alert alert-sm alert-danger mt-2"
            >
              <div *ngIf="taskForm.get('task').errors.required">
                task name is required.
              </div>
            </div>
            <select
              class="custom-select mt-2"
              id="inlineFormCustomSelectPref0"
              formControlName="assigned_to"
              (change)="get_user_tasks($event.target.value)"
            >
              <option selected="true" value=""
                >Select to assign task to user</option
              >
              <option *ngFor="let u of users" value="{{ u.uid }}">
                <span *ngIf="u.email === user?.email"> Me </span>
                <span *ngIf="u.email !== user?.email">
                  {{ u.displayName }} - {{ u.email }}
                </span>
              </option>
            </select>
            <div
              *ngIf="
                taskForm.get('assigned_to').invalid &&
                (taskForm.get('assigned_to').dirty ||
                  taskForm.get('assigned_to').touched)
              "
              class="alert alert-sm alert-danger mt-2"
            >
              <div *ngIf="taskForm.get('assigned_to').errors.required">
                you need to assign this task to a user.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label><b>Start date for this task</b></label>
            <p>
              {{ start_date | date: "full" }}
            </p>
            <ngx-calendar
              [options]="calendarOptions"
              (onChooseDate)="onChooseStartDate($event)"
              [events]="calendarEvents"
            >
            </ngx-calendar>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <textarea
              formControlName="description"
              class="form-control"
              rows="3"
              placeholder="What is this task about?"
            ></textarea>
          </div>
          <div class="form-group">
            <label><b>End date for this task</b></label>
            <p>
              {{ end_date | date: "full" }}
            </p>
            <ngx-calendar
              [options]="calendarOptions"
              (onChooseDate)="onChooseEndDate($event)"
              [events]="calendarEvents"
            >
            </ngx-calendar>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group text-center">
            <button
              type="submit"
              class="btn btn-success text-center"
              [disabled]="taskForm.invalid"
            >
              <i class="fa fa-plus"></i> Assign Task
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
