<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white;">Loading...</p>
</ngx-spinner>

<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <a
      [routerLink]="['/user']"
      class="btn btn-sm btn-light mb-3 text-left text-primary"
    >
      <i class="fa fa-angle-left"></i> Back home</a
    >
    <h4 class="text-center text-primary mb-3">All Tasks</h4>
    <div
      class="alert alert-secondary mb-1"
      [ngClass]="{ 'alert-success': t.completed }"
      [ngClass]="{ 'alert-danger': check_overdue(t.end_date) }"
      role="alert"
      *ngFor="let t of tasks | paginate: { itemsPerPage: 10, currentPage: p }"
    >
      <h6>
        <b>{{ t.task }} <i class="fa fa-check" *ngIf="t.completed"></i></b>
      </h6>
      <p *ngIf="t.module">{{ t.module }}</p>
      <p>{{ t.description }}</p>
      <b
        >{{ mask_email(t.assigned_by) }} assigned this task to
        {{ mask_email(t.assigned_to) }} - {{ date(t.start_date) }}</b
      >
      <br />
      <span><a [routerLink]="['/user/task', t.uid]">View this task</a></span>
    </div>

    <div class="p-2 bg-grey mb-2 text-center" *ngIf="tasks.length === 0">
      <b>
        No task at the moment.
      </b>
    </div>

    <pagination-controls
      (pageChange)="p = $event"
      responsive="true"
      autoHide="true"
      *ngIf="tasks.length > 0"
    >
    </pagination-controls>
  </div>
</div>
