<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <a
      [routerLink]="['/user']"
      class="btn btn-sm btn-light mb-3 text-left text-primary"
    >
      <i class="fa fa-angle-left"></i> Back home</a
    >
    <h4 class="text-center text-primary mb-3">Completed Tasks</h4>
    <div
      class="alert alert-success mb-1"
      role="alert"
      *ngFor="let ct of completed_tasks"
    >
      <h6>
        <b>{{ ct.task }} <i class="fa fa-check"></i></b>
      </h6>
      <p>{{ ct.description }}</p>
      <b>{{ ct.assigned_by }} assigned this task - {{ date(ct.start_date) }}</b>
      <br />
      <span><a [routerLink]="['/user/task', ct.uid]">View this task</a></span>
    </div>

    <div
      class="p-2 bg-grey mb-2 text-center"
      *ngIf="completed_tasks.length === 0"
    >
      <b>
        You have no completed task at the moment.
      </b>
    </div>
  </div>
</div>
