<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="row justify-content-md-center">
  <div class="col-6">
    <a
      [routerLink]="['/user']"
      class="btn btn-sm btn-light mb-3 text-left text-primary"
    >
      <i class="fa fa-angle-left"></i> Back home</a
    >

    <h4 class="text-center text-primary mb-5">{{ task?.task }}</h4>

    <div class="card-container">
      <dl>
        <dt>Description</dt>
        <dd>
          {{ task?.description }}
        </dd>

        <dt>Start Date</dt>
        <dd>{{ date(task?.start_date) }}</dd>

        <dt>End Date</dt>
        <dd>{{ date(task?.end_date) }}</dd>

        <dt>Assigned by</dt>
        <dd>{{ task?.assigned_by }}</dd>

        <dt>Status</dt>
        <dd>
          {{ task?.status }}
        </dd>
        <dt class="mt-5">
          <button
            class="btn btn-success"
            [disabled]="task?.completed"
            (click)="mark_complete(task?.uid)"
          >
            <i class="fa fa-check"></i> Mark as complete
          </button>

          <button
            class="btn btn-primary ml-3"
            [disabled]="!task?.completed"
            (click)="mark_incomplete(task?.uid)"
          >
            <i class="fa fa-undo"></i> Mark as incomplete
          </button>
        </dt>
      </dl>
    </div>
  </div>
</div>
